<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      
      <%= link_to 'Logo', posts_path %>
      <%= link_to 'New post', new_post_path %>
      <br>

      <div class="layout">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
